@tailwind base;
@tailwind components;
@tailwind utilities;

/* Drag region for the top bar */
.draggable-area {
  -webkit-app-region: drag;
  cursor: move;
}

button,
input,
select,
textarea,
.interactive {
  -webkit-app-region: no-drag;
}

.draggable-area button,
.draggable-area input {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
